
@{
    ViewBag.Title = "About";
}

<p>
    <h3>Skills</h3>
    <ul>
        <li>Developing front-end web application using HTML5, CSS3, JavaScript, jQuery,</li>

    </ul>
</p>
<p>
    <h3>Qualities</h3>
    <ul>
        <li>Team work</li>
        <li>Management</li>
        <li>Communication</li>
    </ul>
</p>
<p>
    <h3>Education</h3>
    <ul>
        <li>
            B.Sc in Computer Science Engineering <br />
            American International University-Bangladesh <br />
            2020 - Present 
        </li>
        <li>
            H.S.C <br />
            Adamjee Can't Public College <br />
            2017 - 2019
        </li>
        <li>
            S.S.C <br />
            Methodist English Medium School <br />
            2016 - 2017
        </li>
    </ul>
</p>
<p>
    <h3>Interests</h3>
    <ul>
        <li>Web Designing</li>
        <li>Playing Football</li>
        <li>Hanging out with friends</li>
        <li>Playing games</li>
    </ul>
</p>
