@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>

<address>
    Dhaka Cantonment, Dhaka 1206, Bangladesh<br />
    <abbr title="Phone">How to get me:</abbr>
    +8801742319598
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:tahmidnishad@gmail.com">tahmidnishad@gmail.com</a><br />
</address>